.menu__item {
  border-bottom: 1px solid #D6B9FF;

  &:hover {
    .menu__link {
      color: #9C69E2;
    }
  }
}

.menu__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 75px;
  color: #212353;
  text-decoration: none;
  padding-left: 30px;
  transition: 0.2s ease-in-out;
}

.menu__item--submenu {
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background: rgba(72, 73, 77, .5);
    height: 2px;
    right: 30px;
    width: 10px;
    transition: 0.2s ease-in-out;
  }

  &:hover:before,
  &:hover:after{
    background: #9C69E2;
  }

  &:before {
    top: 34px;
    transform: rotate(45deg);
  }

  &:after {
    top: 40px;
    transform: rotate(-45deg);
  }
}

.menu__item--submenu.show {
  position: relative;

  &:before {
    top: 40px;
    transform: rotate(-45deg);
  }

  &:after {
    top: 40px;
    right: 36px;
    transform: rotate(45deg);
  }
}

@media(min-width: 768px) {
  .menu__item {
    border-bottom: none;
    cursor: pointer;
  }

  .menu__link {
    font-size: 18px;
    line-height: 29px;
  }

  .menu__item--submenu {
    &:before,
    &:after {
      width: 6px;
      top: 15px;
    }

    &:before {
      right: 20px;
    }
  }

  .menu__item--submenu.show:hover,
  .menu__item--submenu:hover {
    position: relative;

    &:before {
      top: 15px;
      right: 20px;
      transform: rotate(-45deg);
    }

    &:after {
      top: 15px;
      right: 16px;
      transform: rotate(45deg);
    }
  }

  .menu__item--submenu.show {
    &:before {
      top: 15px;
      right: 20px;
      transform: rotate(45deg);
    }

    &:after {
      top: 15px;
      right: 16px;
      transform: rotate(-45deg);
    }
  }
}