.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  border-radius: 50px;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0;

  &--purple {
    background: #9C69E2;
    margin: 44px auto;
    padding: 14px;
    max-width: 180px;
    color: #FFFFFF;
    width: 100%;
    transition: 0.2s linear;

    &:hover {
      background: #B17FF4;
      transition: 0.2s linear;
    }
  }

  &--orange {
    background: #EEAA12;
    margin: 22px auto 0;
    padding: 9.5px;
    max-width: 148px;
    color: #FFFFFF;
    width: 100%;
    transition: 0.2s linear;

    &:hover {
      background: #FFBE2D;
      transition: 0.2s linear;
    }
  }

  &--arrow {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #212353;

    &:before {
      content: url("../img/arrow-btn.svg");
      position: absolute;
      right: -45px;
      top: 3px;
    }

    &:hover {
      color: #B17FF4;
      transition: 0.2s linear;
    }
  }
}

@media(min-width: 768px) {
  .button {
    &--purple {
      margin: 0 0 0 auto;
    }

    &--orange {
      margin: 0;
      min-width: 148px;
    }
  }
}